---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
import { m } from "@/i18n/messages";
---

<SiteLayout>
  <hgroup>
    <h1></h1>
    <p>{m.example_message({ username: "Niklas" })}</p>
  </hgroup>
</SiteLayout>
