---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
import ProductGrid from "@/components/ProductGrid.astro";

export function getStaticPaths() {
  return ["sweaters"].map((slug) => ({ params: { id: "1", slug } }));
}
---

<SiteLayout title="Sweaters">
  <h1>Sweaters</h1>
  <ProductGrid />
</SiteLayout>
